<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-4">
                <h3>Create Your Own Beach Adventure</h3>
                <p>Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão. O Lorem Ipsum tem vindo a ser o texto padrão usado por estas indústrias.</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3>Visit Historic Cities</h3>
                <p> Este texto não só sobreviveu 5 séculos, mas também o salto para a tipografia electrónica, mantendo-se essencialmente inalterada.</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3></i>Mountain Adventures</h3>
                <p>Foi popularizada nos anos 60 com a disponibilização das folhas de Letraset, que continham passagens com Lorem Ipsum, e mais recentemente com os programas de publicação.</p>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->
<!--
<div class="section-colored text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Modern Business: A Clean &amp; Simple Full Website Template by Start Bootstrap</h2>
                <p>A complete website design featuring various single page templates from Start Bootstraps library of free HTML starter templates.</p>
                <hr>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /.section-colored -->


<div class="destinations">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Just some of the beautiful destinations in Brazil!!</h2>
                <hr>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="/myAirpair/img/christ-redeemer.jpg" alt="Christ the Redeemer">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="/myAirpair/img/sugarloaf.jpg" alt="Sugarloaf Mountain">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="/myAirpair/img/copacabana.jpg" alt="Copacabana">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="/myAirpair/img/chapada-diamantina.jpg" alt="Chapada Diamantina National Park">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="/myAirpair/img/Lencois-Maranhenses.jpg" alt="Lençóis Maranhenses National Park">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="/myAirpair/img/Chapada-dos-Guimaraes.jpg" alt="Chapada dos Guimarães">
                </a>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="section-colored">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2>Modern Travel Features Include:</h2>
                <ul>
                    <li>The quick, brown fox jumps over a lazy dog.</li>
                    <li>DJs flock by when MTV ax quiz prog.</li>
                    <li>Junk MTV quiz graced by fox whelps.</li>
                    <li>Bawds jog, flick quartz, vex nymphs.</li>
                    <li>Waltz, bad nymph, for quick jigs vex!</li>
                    <li>Fox nymphs grab quick-jived waltz.</li>
                    <li>Brick quiz whangs jumpy veldt fox.</li>
                    <li>Bright vixens jump; dozy fowl quack.</li>
                    <li>Bawds jog, flick quartz, vex nymphs.</li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" src="/myAirpair/img/home3.jpg">
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" src="/myAirpair/img/home3.jpg">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2>Modern Business Features Include:</h2>
                <ul>
                    <li>The quick, brown fox jumps over a lazy dog.</li>
                    <li>DJs flock by when MTV ax quiz prog.</li>
                    <li>Junk MTV quiz graced by fox whelps.</li>
                    <li>Bawds jog, flick quartz, vex nymphs.</li>
                    <li>Waltz, bad nymph, for quick jigs vex!</li>
                    <li>Fox nymphs grab quick-jived waltz.</li>
                    <li>Brick quiz whangs jumpy veldt fox.</li>
                    <li>Bright vixens jump; dozy fowl quack.</li>
                    <li>Bawds jog, flick quartz, vex nymphs.</li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="container">

    <div class="row well">
        <div class="col-lg-8 col-md-8">
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sollicitudin congue blandit. Nulla mollis id dui ut efficitur. Duis lacinia tortor nec hendrerit porttitor.</p>
        </div>
        <div class="col-lg-4 col-md-4">
            <a class="btn btn-lg btn-primary pull-right" href="#">Make Travel Plans Today!</a>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
