<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Package Rates
                <small>Our Rate Options</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#/">Home</a>
                </li>
                <li class="active">Packages</li>
            </ol>
        </div>

    </div>

    <div class="row">

        <div class="col-sm-3">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <strong>1 Week</strong>
                </div>
                <div class="panel-body">
                    <h3 class="panel-title price">$499
                        <span class="price-cents">00</span>
                    </h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">7 Days</li>
                    <li class="list-group-item">6 Night</li>
                    <li class="list-group-item">Historic Cities</li>
                    <li class="list-group-item">3 Beach Visits</li>
                    <li class="list-group-item">Priced per couple</li>
                    <li class="list-group-item"><a class="btn btn-primary">Sign Up Now!</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <strong>1 Week Plus</strong>
                </div>
                <div class="panel-body">
                    <h3 class="panel-title price">$599
                        <span class="price-cents">00</span>
                    </h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">7 Days</li>
                    <li class="list-group-item">6 Night</li>
                    <li class="list-group-item">Historic Cities</li>
                    <li class="list-group-item">3 Beach Visits</li>
                    <li class="list-group-item">Priced per couple</li>
                    <li class="list-group-item"><a class="btn btn-primary">Sign Up Now!</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <strong>Premium <span class="label label-success">Best Value!</span></strong>
                </div>
                <div class="panel-body">
                    <h3 class="panel-title price">$899
                        <span class="price-cents">00</span>
                    </h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">Luxury Suite</li>
                    <li class="list-group-item">6 Night</li>
                    <li class="list-group-item">Historic Cities</li>
                    <li class="list-group-item">3 Beach Visits</li>
                    <li class="list-group-item">Priced per couple</li>
                    <li class="list-group-item"><a class="btn btn-primary">Sign Up Now!</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <strong>Ultimate</strong>
                </div>
                <div class="panel-body">
                    <h3 class="panel-title price">$999
                        <span class="price-cents">99</span>
                    </h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">Deluxe Suite</li>
                    <li class="list-group-item">6 Night</li>
                    <li class="list-group-item">Historic Cities</li>
                    <li class="list-group-item">3 Beach Visits</li>
                    <li class="list-group-item">Priced per couple</li>
                    <li class="list-group-item"><a class="btn btn-primary">Sign Up Now!</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>

</div>
<!-- /.container -->

